// Add your custom CSS here.
@media(min-width: 767px) {
    .banners-grid .banner picture img {
        height: 380px;
        width: auto;
    }
    }
    .page--home {
    text-align:center
    }
    /* @media(max-width: 767px) {
        #padr .banners-grid .row .col-12 {
            max-width: 50%;
        }
    } */
    .menu__item:hover {
        background: #03bb85;
        text-decoration: none;
    }
    .custom-content h2::after {
        background: url(/img/uploads/infinity.png) no-repeat left top;
        content: '';
        display: block;
        height: 15px;
        margin: 10px auto 0;
        width: 30px;
      }
    
    #o-local + .custom-html .container {
        display: flex;
        justify-content: center;
    }
    .checkout__col .payment__method.list-group-item .payment__text, .footer__title.footer__store + p, #product .shipping-calculator, .shipping-calculator.cart__shipping, .address-form__name {
    display: none
    }
    
    #footer-casamento {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .checkout__step:nth-child(2) {
        font-size: 0px;
      }
    .checkout__step:nth-child(2):after {
        content: "Endereço de Cobrança";
        font-size: 13px !important;
        padding-left: 5px
    }
    .checkout__step:nth-child(2):before, .checkout__step:nth-child(2) small {
        font-size: 13px !important;
    }
    #c-62c9e23aeb859112167f9f10 .menu__item-icon + span {
        font-size: 0
      }
      #c-62c9e23aeb859112167f9f10 .menu__item-icon + span:after {
        font-size: 1rem !important;
        content: 'Registry'
      }
      #c-62e69598eb859112169ed421 .menu__item-icon + span {
        font-size: 0
      }
      #c-62e69598eb859112169ed421 .menu__item-icon + span:after {
        font-size: 1rem !important;
        content: 'The Proposal'
      }
      #c-62e695eaeb859112169ed48d .menu__item-icon + span {
        font-size: 0
      }
      #c-62e695eaeb859112169ed48d .menu__item-icon + span:after {
        font-size: 1rem !important;
        content: 'The Couple'
      }
      #c-62e69edfeb859112169edb46 .menu__item-icon + span {
        font-size: 0
      }
      #c-62e69edfeb859112169edb46 .menu__item-icon + span:after {
        font-size: 1rem !important;
        content: 'Wedding Party'
      }
      #c-62e69f87eb859112169edbea .menu__item-icon + span {
        font-size: 0
      }
      #c-62e69f87eb859112169edbea .menu__item-icon + span:after {
        font-size: 1rem !important;
        content: 'The Venue'
      }
      #c-630036c7f8d4267de7105fc6 .menu__item-icon + span {
        font-size: 0
      }
      #c-630036c7f8d4267de7105fc6 .menu__item-icon + span:after {
        font-size: 1rem !important;
        content: 'Couple Tips'
      }
      #c-62b77c55eb85911216665cce .menu__item-icon + span {
        font-size: 0
      }
      #c-62b77c55eb85911216665cce .menu__item-icon + span:after {
        font-size: 1rem !important;
        content: 'Home'
      }
      #c-62b77c6beb85911216665cdc .menu__item-icon + span {
        font-size: 0
      }
      #c-62b77c6beb85911216665cdc .menu__item-icon + span:after {
        font-size: 1rem !important;
        content: 'Honeymoon'
      }
      #c-62c9df90eb859112167f9c39 .menu__item-icon + span {
        font-size: 0
      }
      #c-62c9df90eb859112167f9c39 .menu__item-icon + span:after {
        font-size: 1rem !important;
        content: 'Registry - Camicado'
      }
      .payment__gateway--1251, .payment__gateway--111223 {
        display: none;
      }
@media(max-width: 767px) {
    .header__buttons .languages {
        display: none;
    }
}
@media(min-width: 767px) {
    .header__buttons {
        display: flex;
        align-items: center;
        .languages a {
            padding-right: 15px;
            padding-left: 15px;

        }
    }

}
